

.content-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content-wrapper.left-image .image-container2 {
    order: -1;
    margin-right: 20px;
}

.content-wrapper.right-image .image-container2 {
    order: 1;
    margin-left: 20px;
}

article {
    flex: 2;
}

.image-container2 {
    flex: 1;
    max-width: 200px;
}

.story-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.author {
    margin-top: 20px;
    font-style: italic;
}
